body {
    margin: 25px 0 0 75px;
    width: 75%;
    text-align: justify;
	color: rgb(51, 51, 51);
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}
a {
    color: #005689;   
}

a:visited {
    color: #005689;   
}

a.pos {
	color: black;
}

a.pos:visited {
	color: black;
}

/*a.box {
	color: white;
}

a.box:visited {
	color: white;
}*/

.code-caption {
    margin-top: 10px;
    text-align: center;   
    color: black;
}

.rule-caption {
    margin-top: -10px;
    text-align: center;   
    color: black;
}

.fig-caption {
    text-align: center;
    margin: 10px 0 25px 0;
    color: black;
}

pre {
    width: 75%;
    margin: 0 auto;
}

img {
    margin-left: 15px;   
}

.highlight {
    display: inline;
    
    background-color: yellow;
}

.note {
    font-style: italic;
    margin-top: 5px;
}

.li-spacing li {
    margin-bottom: 15px;   
}

.code {
    font-family: "courier";
    font-size: small;
}

div.nav-menu {
    font-weight: bold;
	margin-top: 25px;
}

ul.nav-menu {
	margin-top: 5px;
    padding: 15px 0 15px 25px;
	background-color: #e6f1f6;
    /*border: 1px solid #c1dce8;*/
	width: 450px;
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul.nav-menu li {
	margin-top: 5px;
}

/*h1 {
    color: white;
    padding: 15px;
    background-color: #4B1254;
}

h2, h3 {
    color: white;
    margin-bottom: 0px;
    background-color: #4B1254;
}

h2 {
    padding: 10px 10px 10px 15px;
}

h3 {
    padding: 5px 5px 5px 15px;
}

h4 {
	border-bottom: 1px dashed black;	
}

h5 {
	margin-top: 25px;
	font-size: 16px;
}*/

h1 {
	font-size: 36px;	
}

h2 {
	font-size: 28px;
	border-bottom: 1px solid rgb(238, 238, 238);
	padding-bottom: 10px;
}

h3 {
	font-size: 18px;
	font-size: 24px;
	border-bottom: 1px solid rgb(238, 238, 238);
	padding-bottom: 10px;
}

h4 {
	font-size: 16px;
	border-bottom: 1px dashed black;
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 5px;
}

h5 {
	font-size: 16px;
}

.back-link {
    font-size: 12px;
    margin-left: 5px;
/*    margin-top: 5px;*/
    display: block;
}

ul.conf li {
	margin-top: 10px;
}

ul.conf li > ul > li > ul > li {
	margin-top: 5px;	
}